<h3>Draft Table</h3>

<section class="filter-add">

    <mat-button-toggle-group #bySeason="matButtonToggleGroup" [value]="currentSeason" (change)="changeActive(bySeason.value)">
        <mat-button-toggle value="2021" color="accent">
            2021
        </mat-button-toggle>
        <mat-button-toggle value="2022" color="accent">
            2022
        </mat-button-toggle>
    </mat-button-toggle-group>

</section>

<mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="table" *ngIf="!isLoading">

    <table 
        mat-table 
        [dataSource]="draftTableData" 
        matSort 
        class="mat-elevation-z8 full-width" 
        matSortActive="city" 
        matSortDirection="asc"
    >

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Draft Id </th>
            <td mat-cell *matCellDef="let table"> {{table.id}} </td>
        </ng-container>

        <ng-container matColumnDef="draft_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let table"> {{table.draft_year}} </td>
        </ng-container>

        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Logo </th>
            <td mat-cell *matCellDef="let table">
                <img [src]="table.teamlogo">
            </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td mat-cell *matCellDef="let table"> {{table.city}}</td>
        </ng-container>
        
        <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nickname </th>
            <td mat-cell *matCellDef="let table"> {{table.nickname}}</td>
        </ng-container>

        <ng-container matColumnDef="round_one">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Round 1 </th>
            <td mat-cell *matCellDef="let table">
                 <img [src]="getTeamLogo(table.round_one)">
            </td>
        </ng-container>

        <ng-container matColumnDef="round_two">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Round 2 </th>
            <td mat-cell *matCellDef="let table">
                 <img [src]="getTeamLogo(table.round_two)">
            </td>
        </ng-container>

        <ng-container matColumnDef="round_three">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Round 3 </th>
            <td mat-cell *matCellDef="let table">
                 <img [src]="getTeamLogo(table.round_three)">
            </td>
        </ng-container>

        <ng-container matColumnDef="round_four">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Round 4 </th>
            <td mat-cell *matCellDef="let table">
                 <img [src]="getTeamLogo(table.round_four)">
            </td>
        </ng-container>

        <ng-container matColumnDef="round_five">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Round 5 </th>
            <td mat-cell *matCellDef="let table">
                 <img [src]="getTeamLogo(table.round_five)">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr 
            mat-row 
            *matRowDef="let table; columns: columns;"
            (click)="onEdit(table.id)"
        ></tr>

    </table>

    <mat-paginator
        [pageSize]="pageSize"
        [length]="length"
        color="accent"
        showFirstLastButtons
    ></mat-paginator>

</div>