<form [formGroup]="teamSelectForm" class="form">

    <mat-form-field color="accent">
        <mat-label>Team 1</mat-label>
        <mat-select formControlName="selectedTeamOne">
            <mat-option 
                *ngFor="let team of teams$ | async" 
                [value]="team.shortname" 
                [disabled]="team.shortname === 'FA' || team.id === teamTwo.value"
            >
                {{team.city}} {{team.nickname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field color="accent">
        <mat-label>Team 2</mat-label>
        <mat-select formControlName="selectedTeamTwo">
            <mat-option 
                *ngFor="let team of teams$ | async" 
                [value]="team.shortname" 
                [disabled]="team.id === teamOne.value"
            >
                {{team.city}} {{team.nickname}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</form>