:host {
    display: inline-grid;
    grid-template-rows: min-content;
    justify-content: center;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, minmax(300px, auto));
}

.mat-form-field {
    width: 300px;
}