:host {
    display: grid;
}

.form {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-column-gap: 10px;
    justify-content: space-evenly;
}

.mat-form-field {
    width: 300px;
}