.user-container {
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 50vh;
    grid-row-gap: 10px;
}

.table {
    min-width: 90%;
    margin-bottom: 20px;
}

.mat-form-field {
    width: 50%;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
    cursor: pointer;
}

.full-width {
    width: 100%;
}

h3 {
    font-size: x-large;
    font-weight: 100;   
}