.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    /* border: 1px solid purple; */
}

.drop-down-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mat-form-field {
    width: 300px;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
    cursor: pointer;
}

.frame {
    width: 95%;
    /* border: 1px solid red; */
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 150px 0;
}

.iframe {
    border: none;
    overflow-x:hidden;
    overflow-y:hidden;
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
}

.mat-option {
    background: rgba(254, 61, 61, 0.9);
}

.salary-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.full-width {
    width: 100%;
}

.table {
    width: 95%;
    overflow-x: auto;
}

.table img {
    height: 30px;
    width: 30px;
}

.mat-paginator {
    width: 95%;
}

.filtering {
    font-size: 14px;
    width: 75%;
    color: red;
}

.tableHeader {
    width: 100%;
    font-size: x-large;
    color: white;
    font-weight: 100;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}


/* *************************** MEDIA QUERIES **************************** */

@media screen and (max-width: 800px) {
    .mat-cell, .mat-header-cell {
        /* white-space: nowrap; */
        padding-left: 5px;
        padding-right: 5px;
    }
}