<button mat-button class="back-button" color="accent" (click)="onCancel()">
    <mat-icon>chevron_left</mat-icon>Back To All
</button>

<div class="player-card-container">

    <mat-card [ngClass]="{'player-card-mobile': isMobile, 'player-card': !isMobile}">

        <mat-card-header *ngIf="player">
            <div mat-card-avatar>
                <img [src]="findLogo(player[0].teamshort).image">
            </div>
            <mat-card-title>{{player[0].player_name}}</mat-card-title>
            <mat-card-subtitle *ngIf="player[0].player_pos">{{player[0].player_pos}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!player[0].player_pos">G</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="player">
            
            <div class="edit-row">
                <div class="row-description">
                    <p>Player Name</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input 
                            matInput 
                            [formControl]="playerName" 
                            value="{{player[0].player_name}}" 
                            color="accent" 
                        >
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Player Id</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="draftId" value="{{player[0].id}}" color="accent" readonly>
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Year</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="year" value="{{player[0].draft_year}}" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Round Picked</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="round" value="{{player[0].round_num}}" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Overall Picked</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="overall" value="{{player[0].number_num}}" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Position</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <mat-select [(value)]="positionSelected">
                            <mat-option *ngFor="let position of positions" [value]="position">{{position}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Teams</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <mat-select [(value)]="teamSelected">
                            <mat-option *ngFor="let team of teams" [value]="team.shortName">{{team.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="onSave()" *ngIf="!isSaving">Save</button>
            <button mat-raised-button color="primary" (click)="onCancel()" *ngIf="!isSaving">Cancel</button>
            <button mat-raised-button color="warn" (click)="onDelete(player[0].id)" *ngIf="!isSaving">Delete</button>
            <mat-spinner color="accent" *ngIf="isSaving" diameter="30"></mat-spinner>
        </mat-card-actions>

    </mat-card>

</div>
