
<div class="container">

    <div class="spinner" *ngIf="isLoading">
        <mat-spinner color="accent"></mat-spinner>
    </div>

    <div class="salary-container" *ngIf="!isLoading">

        <div class="tableHeader">
            <p>Goalie Salaries</p>
        </div>

        <div class="button-container">
            <!-- <button mat-raised-button color="accent" (click)="addPlayer()">Add Goalie</button> -->
            <mat-form-field color="accent" class="filtering">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <div class="table">
            
            <table mat-table [dataSource]="allSalaries" matSort class="mat-elevation-z8 full-width" matSortActive="player_name" matSortDirection="asc">
    
                <ng-container matColumnDef="player_name" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let player"> {{player.player_name}} </td>
                </ng-container>

                <ng-container matColumnDef="cha_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CHA Id </th>
                    <td mat-cell *matCellDef="let player"> {{player.player_id}} </td>
                </ng-container>

                <ng-container matColumnDef="current_season_salary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 2019 Salary </th>
                    <td mat-cell *matCellDef="let player">{{ player.current_season_salary }} </td>
                </ng-container>

                <ng-container matColumnDef="year_two">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 2020 Salary </th>
                    <td mat-cell *matCellDef="let player">{{ player.year_two }} </td>
                </ng-container>

                <ng-container matColumnDef="year_three">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 2021 Salary </th>
                    <td mat-cell *matCellDef="let player"> {{ player.year_three }} </td>
                </ng-container>

                <ng-container matColumnDef="year_four">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 2022 Salary </th>
                    <td mat-cell *matCellDef="let player"> {{ player.year_four }} </td>
                </ng-container>

                <ng-container matColumnDef="year_five">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 2023 Salary </th>
                    <td mat-cell *matCellDef="let player"> {{ player.year_five }} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="isMobile ? mobileAllSalariesColumnsToDisplay: allSalariesColumnsToDisplay"></tr>
                <tr 
                    mat-row 
                    *matRowDef="let player; columns: isMobile ? mobileAllSalariesColumnsToDisplay: allSalariesColumnsToDisplay;"
                    (click)="openPlayer(player, 'goalie')"
                ></tr>
    
            </table>
    
        </div>

        <mat-paginator
            [pageSizeOptions]="[10]"
            [pageSize]="pageSize"
            [length]="length"
            color="accent"
            showFirstLastButtons
         ></mat-paginator>

    </div>

</div>


