<div class="container">

    <mat-tab-group 
        color="accent" 
        *ngIf="!isMobile"
    >
        <mat-tab label="Games">
            <div class="draft-container">
                <app-games></app-games>
            </div>
        </mat-tab>
        <mat-tab label="Players">
            <div class="player-search">
                <div class="players-container">
                    <app-players></app-players>
                </div>
                <div class="players-container">
                    <app-goalies></app-goalies>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Draft">
            <div class="draft-container">
                <app-draft></app-draft>
            </div>
        </mat-tab>
        <mat-tab label="Salary">
            <div class="draft-container">
                <app-salary></app-salary>
            </div>
        </mat-tab>
        <mat-tab label="Waivers">
            <div class="draft-container">
                <app-waivers></app-waivers>
            </div>
        </mat-tab>
    </mat-tab-group>

    <mat-tab-group 
        color="accent" 
        *ngIf="isMobile"
    >
        <mat-tab label="Games">
            <app-games></app-games>
        </mat-tab>
        <mat-tab label="Skaters">
            <app-players></app-players>
        </mat-tab>
        <mat-tab label="Goalies">
            <app-goalies></app-goalies>
        </mat-tab>
        <mat-tab label="Draft">
            <app-draft></app-draft>
        </mat-tab>
        <mat-tab label="Salary">
            <app-salary></app-salary>
        </mat-tab>
        <mat-tab label="Waivers">
            <app-waivers></app-waivers>
        </mat-tab>
    </mat-tab-group>

</div>
