<div class="container">

    <div class="player-search" *ngIf="!isMobile">
        <div class="players-container">
            <app-players></app-players>
        </div>
        <div class="players-container">
            <app-goalies></app-goalies>
        </div>
    </div>

    <!-- <div class="player-search" *ngIf="isMobile"> -->
        <mat-tab-group color="accent" *ngIf="isMobile">
            <mat-tab label="Players">
                <app-players></app-players>
            </mat-tab>
            <mat-tab label="Goalies">
                <app-goalies></app-goalies>
            </mat-tab>
        </mat-tab-group>
    <!-- </div> -->

</div>
