.container {
    width: 100%;
    height: 90%;
    margin-top: 30px;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.headerImage {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.logoImage {
    object-fit: scale-down;
    width: 50%;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    object-fit: scale-down;
    height: 100%;
}

.welcome {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: small;
    color: white;
    font-weight: 100;
}

.mat-form-field {
    margin-left: 20px;
}

.team-header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-name p {
    color: white;
    font-size: x-large;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
}

.team-name {
    height: 100%;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stat-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-top: 30px;
}

.stat-card {
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 0 0 40px red;
    width: 45%;
    margin-bottom: 15px;
}

.stat-card-rank {
    height: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.stat-card-rank p {
    color: white;
    font-size: medium;
    font-weight: 100;
}

.stats {
    color: red;
    font-weight: 200;
}

.chart-container {
    position: relative;
    height: 500px;
    width: 100%;
    padding-bottom: 30px;
}

.mat-tab-group {
    width: 100%;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.playerStatsTable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 30px;
}

.table {
    width: 95%;
    overflow-x: auto;
}

.full-width {
    width: 100%;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
    cursor: pointer;
}

.mat-cell, .mat-header-cell {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.table img {
    height: 30px;
    width: 30px;
}

table {
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-button-toggle-group {
    margin: 20px 20px;
}

.mat-button-toggle-checked {
    background-color: red;
}

th, td {
    color: white;
    text-align: center;
    font-weight: 100;
}

.twitter-container {
    width: 48%;
    margin-top: 30px;
}

.nhl-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.mobile-nhl-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.mobile-twitter-container {
    width: 98%;
    margin-top: 30px;
}

.nhl-stat-container {
    width: 100%;
    color: white;
    font-size: medium;
}

.nhl-stat-container p {
    cursor: pointer;
    margin-left: 20px;
}

/* *************************** MEDIA QUERIES **************************** */

@media screen and (max-width: 1072px) {
     .stat-card {
         width: 95%;
     }
}

/* ***** IPAD ***** */
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    
}

@media screen and (max-width: 593px) {
    .team-header {
        height: 25%;
    }

    .image img {
        height: 50%;
    }
}

@media screen and (max-width: 520px) {
    .chart-container {
        height: 400px;
    }
}

@media screen and (max-width: 425px) {
    .chart-container {
        height: 300px;
    }

    .stat-card-rank {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .stat-card-rank p {
        margin: 0;
        word-wrap: break-word;
    }
}

/* ***** IPHONE XS MAX ***** */
@media screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
    
}

@media screen and (max-width: 360px) {
    

    .image img {
        height: 30%;
    }
}

/* ***** IPHONE 6/7/8 ***** */
@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
    .container {
        margin-top: 10px;
    }
    .welcome {
        height: 10%;
    }
    .team-header {
        height: 20%;
    }
    .team-name p {
        font-size: x-large;
        margin: 0 5px;
    }
    .team-name {
        width: 200px;
    }
    .image {
        height: 100%;
        margin-left: 0px;
    }
}

/* ***** IPHONE X ***** */
@media screen and (max-width: 375px) and (max-height: 812px) and (orientation: portrait) {
    .container {
        margin-top: 10px;
    }
    .welcome {
        height: 10%;
    }
    .team-header {
        height: 20%;
    }
    .team-name p {
        font-size: x-large;
        margin: 0 5px;
    }
    .team-name {
        width: 200px;
    }
    .image {
        height: 100%;
        margin-left: 0px;
    }
}

/* ***** IPHONE 6/7/8 ***** */
@media screen and (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
    
}