.container {
    width: 100%;
    height: 90%;
    margin-top: 30px;
}

.welcome {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: small;
    color: white;
    font-weight: 100;
}

.mat-form-field {
    margin-left: 20px;
}

.player-search {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.players-container {
    width: 45%;
}

.player-container-mobile {
    width: 95%;
}

.draft-container {
    width: 100%;
    color: white;
}