:host {
    display: grid;
    justify-items: center;
    padding: 100px;
}

.mat-card {
    width: 100%;
}

form {
    display: grid;
    grid-row-gap: 15px;
}

.form-section {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}