.container {
    height: 100%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card {
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 0 50px lightsteelblue;
    width: 50%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.card-header {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    font-weight: 100;
}

.card-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.icons {
    margin-right: 10px;
    color: blue;
}

.verified {
    color: green;
}

.unverified {
    color: red;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.error {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* *************************** MEDIA QUERIES **************************** */

@media screen and (max-width: 1072px) {
    
}

/* ***** IPHONE XS MAX ***** */
@media screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
    .image {
        display: none;
    }
    .card-header {
        font-size: large;
    }
    .card {
         margin-top: 30px;
         width: 90%;
         height: auto;
     } 
}

/* ***** IPHONE 6,7,8 PLUS ***** */
@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
    .image {
        display: none;
    }
    .card-header {
        font-size: large;
    }
    .card {
         margin-top: 30px;
         width: 90%;
         height: auto;
     }   
 }

/* ***** IPHONE X ***** */
@media screen and (max-width: 375px) and (max-height: 812px) and (orientation: portrait) {
   .image {
       display: none;
   }
   .card-header {
    font-size: large;
}
   .card {
        margin-top: 30px;
        width: 90%;
        height: auto;
    }   
}