:host {
    color: white;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    min-height: 50vh;
    grid-row-gap: 10px;
}

.filter-add {
    display: inline-grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-add button {
    height: min-content;
    width: min-content;
}

.table {
    min-width: 90%;
    margin-bottom: 20px;
}

.mat-form-field {
    width: 100%;
}

.mat-progress-bar {
    width: 75%;
    margin-top: 50px;
}

.mat-row:hover {
    background-color: rgb(61, 90, 254);
    cursor: pointer;
}

.full-width {
    width: 100%;
}

h3 {
    font-size: x-large;
    font-weight: 100;   
}

.table img {
    height: 30px;
    width: 30px;
}