:host {
    display: grid;
    padding: 20px;
    /* justify-items: center; */
    grid-template-columns: minmax(350px, 1fr);
    grid-row-gap: 20px;
}

.title {
    color: white;
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}

button {
    justify-self: center;
}