
<div *ngIf="players" class="player-list-container">

    <mat-selection-list (selectionChange)="onSelectPlayer($event)">
        <div mat-subheader>Players</div>
        <mat-list-option *ngFor="let player of players" [value]="player">
            {{player.player_name}}
        </mat-list-option>
    </mat-selection-list>

    <mat-divider></mat-divider>

    <mat-selection-list (selectionChange)="onSelectGoalie($event)">
        <div mat-subheader>Goalies</div>
        <mat-list-option *ngFor="let goalie of goalies" [value]="goalie">
            {{goalie.player_name}}
        </mat-list-option>
    </mat-selection-list>

    <mat-divider></mat-divider>

    <mat-selection-list (selectionChange)="onSelectPick($event)">
        <div mat-subheader>Picks</div>
        <mat-list-option *ngFor="let pick of picks" [value]="pick">
            {{pick.team}} {{pick.pick_value}} {{pick.draft_year}}
        </mat-list-option>
    </mat-selection-list>

</div>
