<button mat-button class="back-button" color="accent" routerLink="/main">
    <mat-icon>chevron_left</mat-icon>Back To All
</button>

<div class="player-card-container">

    <mat-card [ngClass]="{'player-card-mobile': isMobile, 'player-card': !isMobile}">

        <mat-card-header *ngIf="player">
            <div mat-card-avatar>
                <img [src]="findLogo(player.team_name).image">
            </div>
            <mat-card-title>{{player.player_name}}</mat-card-title>
            <mat-card-subtitle *ngIf="player.position">{{player.position}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!player.position">G</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="player">
            
            <div class="edit-row">
                <div class="row-description">
                    <p>Player Name</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input 
                            matInput 
                            [formControl]="playerName" 
                            value="{{player.player_name}}" 
                            color="accent" 
                        >
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Table Id</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="playerId" value="{{player.id}}" color="accent" readonly>
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Player Id</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="playerId" value="{{player.player_id}}" color="accent" readonly>
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Team Name</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="teamName" value="{{team.name}}" color="accent" readonly>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="edit-row">
                <div class="row-description">
                    <p>Switch Teams</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <mat-select [(value)]="selected" (selectionChange)="onSelectChange($event)">
                            <mat-option *ngFor="let team of teams" [value]="team.shortName">{{team.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="onSave()" *ngIf="!isSaving">Save</button>
            <button mat-raised-button color="primary" (click)="onCancel()" *ngIf="!isSaving">Cancel</button>
            <mat-spinner color="accent" *ngIf="isSaving" diameter="30"></mat-spinner>
        </mat-card-actions>

    </mat-card>

</div>