<div class="main-container">

    <div class="header-container cha-dark">

        <div class="header-text">
            <p class="title">CHA Administration</p>
        </div>

        <div class="welcome" *ngIf="currentUser">
            <mat-form-field color="accent">
                <mat-label>Welcome {{currentUser[0].firstname}} {{currentUser[0].lastname}}!</mat-label>
                <mat-select>
                    <mat-option (click)="logout()">Logout</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="body-container cha-dark">

        <nav mat-tab-nav-bar color="accent">
            <a mat-tab-link
                *ngFor="let route of routes"
                [routerLink]="route.url"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{route.name}}
            </a>
        </nav>
        
        <router-outlet></router-outlet>

    </div>

</div>



