:host {
    display: grid;
    padding: 20px;
    grid-row-gap: 20px;
}

.section {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    grid-template-rows: 600px;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    grid-row-gap: 10px;
}