<div class="trade-select-container">

    <mat-form-field color="accent">
        <mat-label>Team 1</mat-label>
        <mat-select [(ngModel)]="selectedTeamOne" (selectionChange)="selectTeamOne(selectedTeamOne)">
            <mat-option *ngFor="let team of teams" [value]="team.shortName" [disabled]="team.shortName === 'FA'">
            {{team.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field color="accent">
        <mat-label>Team 2</mat-label>
        <mat-select [(ngModel)]="selectedTeamTwo" (selectionChange)="selectTeamTwo(selectedTeamTwo)">
            <mat-option *ngFor="let team of teams" [value]="team.shortName" [disabled]="team.shortName === selectTeamOne">
            {{team.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>


