:host {
    color: white;
    display: grid;
    padding: 20px;
}

form {
    display: grid;
}

.form-section {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-column-gap: 10px;
}

img {
    height: 30px;
    width: 30px;
}