<div class="player-card-container">

    <mat-card [ngClass]="{'player-card-mobile': isMobile, 'player-card': !isMobile}">

        <mat-card-header>
            <mat-card-title>
                Add To Drafts
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="edit-row">
                <div class="row-description">
                    <p>Player Name</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input 
                            matInput 
                            [formControl]="playerName" 
                            placeholder="First Name Last Name" 
                            color="accent" 
                        >
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Year</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="year" placeholder="Draft Year" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Round Picked</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="round" placeholder="Draft Round" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Overall Picked</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <input matInput [formControl]="overall" placeholder="Overall" color="accent">
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Position</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <mat-select [(value)]="positionSelected">
                            <mat-option *ngFor="let position of positions" [value]="position">{{position}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="edit-row">
                <div class="row-description">
                    <p>Teams</p>
                </div>
                <div class="row-output">
                    <mat-form-field color="accent">
                        <mat-select [(value)]="teamSelected">
                            <mat-option *ngFor="let team of teams" [value]="team.shortName">{{team.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="onSave()" *ngIf="!isSaving">Save</button>
            <button mat-raised-button color="primary" (click)="onCancel()" *ngIf="!isSaving">Cancel</button>
            <mat-spinner color="accent" *ngIf="isSaving" diameter="30"></mat-spinner>
        </mat-card-actions>

    </mat-card>

</div>